{%extends "templates/base.njk"%} {%block content%}
  <link rel="stylesheet" href="../scss/main.scss" />
  <style>
    .content-body > p {
      display: none !important;
    }
  </style>
  <h1>Si<span>n</span>ce Parkland</h1>
  <div class="grid-container grid-stats">
    <div class="total">
      <p class="num-wrapper">
        <span class="num-start">12 months,</span><span class="total__num"
          >17</span
        ><span class="total__date">Feb. 14, 2018</span
        ><em>young lives lost.</em>
      </p>
    </div>
    <div class="stats stats-one">
      <span class="stats__num">00</span>
      <span class="stats__cat">00</span>
    </div>
    <div class="stats stats-two">
      <span class="stats__num"></span>
      <span class="stats__cat"></span>
    </div>
  </div>

  <div class="grid-container grid-links">
    <div class="grid__header">
      <div class="header__img">
      </div>
      <div class="header__img">
      </div>
      <div class="header__img">
      </div>
      <div class="header__img">
      </div>
      <div class="header__img">
      </div>
    </div>

    <div class="grid__region" data-region="national">
      <span class="region__hed">National</span>
      {% for each in national %}
      <div class="grid-link">
        <a href="{{ each.url }}">
          <h4>{{ each.hed }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="grid__standout">
      <a href="https://sinceparkland.org/">
        <p class="standout__subtitle">
          <b>Remembering</b><br>the more than 1,100 children taken by gun violence in America this
          year.
        </p>
        <span class="standout__credit"
          >In partnership with <img src="../assets/trace-logo.png" alt=""
        /></span>
      </a>
    </div>

    {% for each in states %}
    <div class="grid__region" data-state="{{ each.state }}">
      <span class="region__hed">{{ each.state }}</span>
      <div class="grid-link">
        <a href="{{ each.url }}">
          {% if each.img %}
          <img class="grid-link__img" src="{{ each.img }}" alt="" />
          {% endif %}
          <h4>{{ each.hed }}</h4>
        </a>
      </div>
    </div>
    {% endfor %}

    <div class="grid__region" data-state="ga">
      <span class="region__hed">Georgia</span>
      {% for each in georgia %}
      <div class="grid-link">
        <a href="{{ each.url }}">
          {% if each.img %}
          <img class="grid-link__img" src="{{ each.img }}" alt="" />
          {% endif %}
          <h4>{{ each.hed }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="grid__region" data-region="indepth">
      <span class="region__hed">In-depth</span>
      {% for each in indepth %}
      <div class="grid-link">
        <a href="{{ each.url }}">
          <h4>{{ each.hed }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-container grid-videos">
    <div class="grid__video">
      <iframe src="https://www.miamiherald.com/latest-news/article226099920.html/video-embed" width="640" height="400"
        frameborder="0" allowfullscreen="true"></iframe>
    </div>
  </div>
  <div class="grid-container grid-credits">
    <div class="credit__group">
    <span class="credit__label">Project Staff</span>
    <p class="credit__name">Casey Frank, Project Editor</p>
    <p class="credit__name">Caitlin Ostroff, Data Reporter</p>
    <p class="credit__name">Aaron Albright, Interaction Designer</p>
    <p class="credit__name">Jessica Gilbert, Director of Design / McClatchy</p>
    <p class="credit__name">Eduardo Alvarez, Senior Manager of Design / McClatchy</p>
    <p class="credit__name">Aminda Marques Gonzalez, Executive Editor</p>
    <p class="credit__name">Rick Hirsch, Managing Editor</p>
    </div>
    <div class="credit__group">
    <span class="credit__label">McClatchy Reporters</span>
    <p class="credit__name">Virginia Bridges, Tim Chitwood, Lexi Cortes, Amy Driscoll, Liz Fabian, Glenn Garvin, Kevin G. Hall, Alex Harris, Jason Koch, John Monk, Caitlin Ostroff, Phillip Reese, Joe&nbsp;Robertson, Diane Smith, Carli Teproff, Anna M. Tinsley, Erin Tracy, Martin Vassolo</p>
    </div>
    <div class="credit__group">
    <span class="credit__label">Visual Journalists</span>
    <p class="credit__name">Marcus Dorsey, Travis Long, Esther Medina, Emily Michot, Matias J. Ocner, Marta Oliver Craviotto, Tiffany Tompkins</p>
    </div>
    <div class="credit__group">
    <span class="credit__label">Social Media Editors</span>
    <p class="credit__name">Jessica Huff, Adrian Ruhi</p>
    </div>
    <div class="credit__group">
    <span class="credit__label">Copy Editor</span>
    <p class="credit__name">Mary Behne</p>
    </div>

    
  </div>
  <script src="../js/main.js"></script>
{%endblock%}
