{%extends "templates/base.njk"%}

{%block content%}
<div class="embed-infographic">
<link rel="stylesheet" href="../scss/main.scss">
<h1>Beyond Parkland</h1>
<div class="grid-container">
    <div class="animation-wrapper">
        <div class="total">
            <p class="num-wrapper">12 months, <span class="total__num">17</span> lives <em>lost</em>.</p> 
            <p class="total__date">Feb. 14, 2018</p>
        </div>
    </div>
</div>
<script src="../js/main.js"></script>
</div>
{%endblock%}