<div class="grid__main"><a href="#">
        <img src="https://picsum.photos/1600/900?image=550" alt="">
        <h3><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</h3>
    </a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__card"><a href="#"><span>TOPIC THING</span>Lorem dobat gkmal outlkjgjh this headline</a></div>
<div class="grid__standout">
    <p class="standout__title-a">CUT<br>DOWN</p>
    <p class="standout__title-b">TOO<br>SOON</p>
    <p class="standout__subtitle">Remembering the 1200 children taken by gun violence in America this year.</p>
</div>