$accent-color: #f7b97c;
$comp-color: #654523;

.content-body,
body section[role='main'] {
  background-color: #180124;
}

.embed-infographic {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/**************
* GRID STYLES *
**************/

.grid-container {
  display: grid;
  width: 100%;
  max-width: 900px;
}

.grid-stats {
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'stats-one total stats-two';
  margin-bottom: 2em;
}

.grid-links {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'lead lead'
    'national standout';
  grid-gap: 30px;
  gap: 30px;
  align-items: start;
}

@media (max-width: 768px) {
  .grid-stats {
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-template-areas:
      'total total'
      'stats-one stats-two';
  }
  .grid-links {
    grid-template-areas:
      'header header'
      'lead lead'
      'standout standout'
      'national national';
  }
  .grid__region,
  .grid__video {
    grid-column: 1 / 3;
  }
}

/**************
* TEXT STYLES *
**************/

.embed-infographic {
  h1 {
    font-family: 'McClatchy Serif';
    font-size: 5em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    span {
      letter-spacing: -6px;
    }
  }
}

@media (max-width: 768px) {
  .embed-infographic {
    padding: 0 3%;
    h1 {
      font-size: 3.7em;
      span {
        letter-spacing: -4px;
      }
    }
  }
}

/*******************
* ANIMATION STYLES *
********************/

.total {
  grid-area: total;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .num-wrapper {
    color: #fff;
    font-size: 50px;
    font-family: 'McClatchy Serif', serif;
    text-align: center;
    margin: 0;
    .num-start {
      display: inline-block;
      margin-bottom: 10px;
    }
    em {
      color: $accent-color;
      font-style: normal;
    }
  }
  &__num {
    font-family: 'McClatchy Sans';
    font-size: 110px;
    color: #ffffff;
    min-width: 280px;
    display: block;
    text-align: center;
    line-height: 1;
  }
  &__date {
    font-family: 'McClatchy Sans';
    display: block;
    font-size: 20px;
    color: #fff;
    opacity: 0.25;
    letter-spacing: 1.4px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.stats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s 1s ease-in-out;
  span {
    color: #fff;
    text-align: center;
  }
  .stats__num {
    font-size: 5em;
    font-family: 'McClatchy Sans', sans-serif;
  }
  .stats__cat {
    color: #e0aa76;
    font-size: 1.5em;
  }
  &.visible {
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s 0s ease-in-out;
    opacity: 1;
  }
}

.stats-one {
  grid-area: stats-one;
}
.stats-two {
  grid-area: stats-two;
}

@media (max-width: 768px) {
  .total .num-wrapper {
    font-size: 40px;
  }
  .stats .stats__num {
    font-size: 3em;
  }
  .stats .stats__cat {
    font-size: 1.2em;
  }
}

/*******************
* LINK CARD STYLES *
********************/

.grid__header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  opacity: .35;
  img {
    width: 176px;
    transition: opacity 2s;
  }
  .header__img.fade-out {
    opacity: 0;
    transition: opacity 1s;
  }
}

.grid__region {
  border: 1px solid $comp-color;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  a:hover {
    text-decoration: none;
  }
  a:hover h4 {
    color: $accent-color;
  }
  h4 {
    color: #fff;
    margin: 0;
  }
  .grid-link {
    padding: 15px;
  }
  .grid-link:not(:last-of-type)::after {
    content: '';
    display: block;
    background-color: $comp-color;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 1px;
  }
  .region__hed {
    color: $accent-color;
    font-family: 'McClatchy Sans';
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 11px 5px;
  }
  .grid-link img {
    display: none;
  }
}

.grid__region[data-region=national] {
  grid-area: national;
}

.grid__region--lead {
  grid-area: lead;
  border: none;
  padding: 0;
  flex-flow: row wrap;
  .region__hed {
    display: none;
  }
  .grid-link--lead {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    h4 {
      width: 100%;
      font-size: 3.3em;
    }
    &::after {
      display: none !important;
    }
  }
}

.grid__standout {
  border: 1px solid hsl(31, 33%, 30%);
  border-radius: 5px;
  font-size: 24px;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: none;
  }
}

.grid__standout:hover {
  &::after {
    background-size: 105%;
  }
  > a {
    transform: scale(.98);
  }
}

.standout__credit {
  color: #fff;
  font-family: "McClatchy Sans", sans-serif;
  font-size: 14px;
  height: 50px;
  opacity: .9;
  margin-top: auto;
  margin-bottom: 15px;
  img {
    margin-left: 5px;
    height: inherit;
  }
}

.grid__standout {
  grid-area: standout;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  &::after {
    content: '';
    background: url('../../src/assets/placeholder-all-dots.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.4;
    transition: background-size 500ms;
  }
  p {
    color: #fff;
    margin: 0;
  }
  > a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    transition: transform 400ms ease; 
  }
  .standout__title-a,
  .standout__title-b {
    font-family: McClatchySerif-Bold;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    max-width: 200px;
  }
  .standout__title-a {
    margin-top: auto;
    margin-left: 0.9em;
  }
  .standout__title-b {
    color: $accent-color;
    text-align: left;
    margin-bottom: 8%;
  }
  .standout__subtitle {
    max-width: 60%;
    text-align: center;
  }
}

.grid__video {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }
  > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .grid__region--lead .grid-link--lead h4 {
    font-size: 1.7em;
  }
  .grid__standout {
    min-height: 320px;
  }
}